<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>
<body>

<%- partial('_partial/header') %>

<%- body %>

<% if (theme.sidebar.enabled && page.sidebar !== 'none') { %>
    <%- partial ('_partial/sidebar') %>
<% } %>

<%- partial('_partial/footer') %>
<%- partial('_partial/scripts') %>

</body>
</html>
