<div class="post-preview">
  <div class="post-preview__header">
    <time class="post-preview__date" datetime="<%= post.date.toJSON() %>">
      <%= date(post.date)%>
    </time>
    <% if (post.categories.length > 0) { %>
      <span class="post-preview__category">
        | <%- list_categories(post.categories, { show_count: false, depth: 2, style: 'none', separator: ' &gt; ' }) %>
      </span>
    <% } %>
  </div>
  <a class="post-preview__title" href="<%= url_for(post.path) %>"><%= post.title %></a>
  <div class="post-preview__tags">
    <% post.tags.each(tag => { %>
      <span class="post-preview__tag"><%= tag.name %></span>
    <% }); %>
  </div>
</div>
