<% var profile = theme.profile; %>
<div class="profile">
  <a class="profile__avatar" href="<%= url_for(config.root) %>">
    <img
      class="profile__avatar__image"
      src="<%= ( profile.gravatar ? gravatar(profile.gravatar, 128) : url_for(profile.avatar)) %>"
      alt="<%= __('profile.avatar_alt_text') %>"
      width="20"
      height="20"
    />
  </a>
  <h2 class="profile__name"><%= profile.author %></h2>
  <h3 class="profile__title"><%= profile.author_title %></h3>
  <small class="profile__location"
    ><i class="fas fa-map-marker-alt"></i> <%= profile.location %></small
  >
</div>
