<% var profile = theme.profile; %>
<div class="profile-block text-center">
  <a id="avatar" href="<%= url_for(config.root) %>">
    <img class="img-circle img-rotate" src="<%= ( profile.gravatar ? gravatar(profile.gravatar, 128) : url_for(profile.avatar)) %>" width="200" height="200">
  </a>
  <h2 id="name" class="hidden-xs hidden-sm"><%= profile.author %></h2>
  <h3 id="title" class="hidden-xs hidden-sm hidden-md"><%= profile.author_title %></h3>
  <small id="location" class="text-muted hidden-xs hidden-sm"><i class="fas fa-map-marker-alt"></i> <%= profile.location %></small>
</div>
