<%- partial('_partial/search/insight/template') %>
<%- partial('_partial/search/insight/config') %>

<form class="searchbar">
  <input
    type="text"
    class="searchbar__input"
    aria-label="<%= __("search.title") %>"
    placeholder="<%= __("search.title") %>"
    tabindex="-1"
  />
  <button
    type="submit"
    class="searchbar__submit"
    aria-label="<%= __("search.submit") %>"
    onclick="return false;"
    tabindex="-1"
  >
    <i class="fas fa-search"></i>
  </button>
</form>
