<header class="header">
  <div class="header__header">
    <% if(theme.profile && theme.site.showProfileInHeader) { %>
      <%- partial('_partial/header/profile') %>
    <% } %>
    <%- partial('_partial/search/searchBar') %>
    <%- partial('_partial/navigation/toggleButton') %>
  </div>
  <nav class="header__body" role="navigation">
    <ul class="navigation">
      <% for (var i in theme.menu){ %>
        <%
          const item = theme.menu[i];
          if (item.enabled) {
        %>
          <li class="navigation__item">
            <a href="<%- url_for(item.path) %>" class="navigation__item__link">
              <% if(theme.site.enableMenuIcons) { %>
                <i class="<%= item.icon %>"></i>
              <% } %>
              <span class="navigation__item__title"><%= __('menu.' + item.name) %></span>
            </a>
          </li>
        <% } %>
      <% } %>
    </ul>
    <%- partial('_partial/social') %>
  </nav>
</header>
