<% if(theme.profile.social.links) { %>
  <% var tooltipClass = 'data-toggle=tooltip data-placement=top'; %>
  <ul class="navigation-social">
    <% for(var i in theme.profile.social.links) { %>
      <li class="navigation-social__item">
        <a  href="<%- url_for(theme.profile.social.links[i]) %>"
            class="navigation-social__item__link"
            target="_blank"
            title="<%= i %>"
            aria-label="<%= i %>"
            rel="noopener"
            <%= tooltipClass %>
        >
          <i class="fab fa-<%= i %>"></i>
        </a>
      </li>
    <% } %>
    <li class="navigation-social__item">
      <a  href="/atom.xml"
          class="navigation-social__item__link"
          target="_blank"
          title="<%= __("footer.feed")%>"
          aria-label="<%= __("footer.feed")%>"
          <%= tooltipClass %>
      >
        <i class="fas fa-rss-square"></i>
      </a>
    </li>
  </ul>
<% } %>
